@use './../mixins' as *;
@use './../variables' as *;

.arrMain {
  width: 100%;
  display: flex;
  flex-direction: column;

  &-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0;

    & .arrSection:first-child,
    & .arrPost-header:first-child {
      &.ptb {
        &_normal {
          padding-top: 7rem;

          @include arrMediaQuery($mq-tablet) {
            padding-top: 9.05rem;
            body:has(> .arrHeader.has-above-menu) & {
              padding-top: 10.75rem;
            }
          }

          @include arrMediaQuery($site-width) {
            padding-top: 11rem;
            body:has(> .arrHeader.has-above-menu) & {
              padding-top: 12.75rem;
            }
          }
        }

        &_medium {
          padding-top: 6rem;

          @include arrMediaQuery($mq-tablet) {
            padding-top: 7.55rem;
            body:has(> .arrHeader.has-above-menu) & {
              padding-top: 9.25rem;
            }
          }

          @include arrMediaQuery($site-width) {
            padding-top: 9rem;
            body:has(> .arrHeader.has-above-menu) & {
              padding-top: 10.75rem;
            }
          }
        }

        &_half {
          padding-top: 5.5rem;

          @include arrMediaQuery($mq-tablet) {
            padding-top: 6.8rem;
            body:has(> .arrHeader.has-above-menu) & {
              padding-top: 8.5rem;
            }
          }

          @include arrMediaQuery($site-width) {
            padding-top: 8rem;
            body:has(> .arrHeader.has-above-menu) & {
              padding-top: 9.75rem;
            }
          }
        }

        &_small {
          padding-top: 5rem;

          @include arrMediaQuery($mq-tablet) {
            padding-top: 5.8rem;
            body:has(> .arrHeader.has-above-menu) & {
              padding-top: 7.55rem;
            }
          }

          @include arrMediaQuery($site-width) {
            padding-top: 7rem;
            body:has(> .arrHeader.has-above-menu) & {
              padding-top: 8.25rem;
            }
          }
        }
      }

      &.pdd {
        &_bottom,
        &_none {
          padding-top: 3.9rem;

          @include arrMediaQuery($mq-tablet) {
            padding-top: 4.55rem;
            body:has(> .arrHeader.has-above-menu) & {
              padding-top: 6.4rem;
            }
          }

          @include arrMediaQuery($site-width) {
            padding-top: 5rem;
            body:has(> .arrHeader.has-above-menu) & {
              padding-top: 6.75rem;
            }
          }
        }
      }
    }
  }

  &-pgHead {
    color: var(--pgHeadColor-txt, inherit);
  }
}
