@use './../mixins' as *;
@use './../variables' as *;

.lyraTextOnly {
  &-title {
    .lyraTitleDesc.center:not(.shrink) {
      max-width: 100%;
    }
  }

  &-content {
    flex-direction: column;
  }

  &:has(&-wrapper.centered) &-content,
  &:has(&-wrapper.centered) &-title,
  &:has(&-wrapper.revCentered) &-content,
  &:has(&-wrapper.revCentered) &-title {
    margin: 0 auto;
  }

  &:has(&-wrapper.centered) &-content,
  &:has(&-wrapper.revCentered) &-content {
    ul,
    ol {
      text-align: left;
    }
  }

  &:has(&-wrapper.reversed) &-title .lyraTitleDesc {
    margin-left: 0;
    & > * {
      justify-content: flex-start;
      text-align: left;
    }
  }
}
